img {
    width: 150px;
    height: auto;
    margin: 10px;
}
.Row{
    display: flex;
    justify-content: space-evenly;
}

.Row p{
    text-align: left;
    margin: 10px;
}

.Container{
    text-align: left;
    width: 60%;
    margin: auto;
    padding: 10px;
}

@media only screen and (max-width: 991px){
    .Container{
        width: 80%;
    }
}

@media only screen and (max-width: 600px){
    .Container{
        width: 95%;
    }
}

@media only screen and (max-width: 350px){
    img {
        width: 100px;
        height: auto;
        margin: 10px;
    }
    .Row{
        flex-wrap: wrap;
    }

}